<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.1</real>
			<key>colorGreen</key>
			<real>0.1</real>
			<key>colorRed</key>
			<real>0.88</real>
			<key>name</key>
			<string>NO</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.88</real>
			<key>colorGreen</key>
			<real>0.1</real>
			<key>colorRed</key>
			<real>0.05</real>
			<key>name</key>
			<string>YES</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.45</real>
			<key>colorGreen</key>
			<real>0.2</real>
			<key>colorRed</key>
			<real>0.58</real>
			<key>name</key>
			<string>Go Jogging</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.88</real>
			<key>colorGreen</key>
			<real>0.7</real>
			<key>colorRed</key>
			<real>0.2</real>
			<key>name</key>
			<string>Go Shopping</string>
			<key>possibility</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.15</real>
			<key>colorGreen</key>
			<real>0.8</real>
			<key>colorRed</key>
			<real>0.65</real>
			<key>name</key>
			<string>Go Swimming</string>
			<key>possibility</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.3</real>
			<key>colorGreen</key>
			<real>0.6</real>
			<key>colorRed</key>
			<real>0.77</real>
			<key>name</key>
			<string>Go Right</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<false/>
			<key>colorBlue</key>
			<real>0.35</real>
			<key>colorGreen</key>
			<real>0.88</real>
			<key>colorRed</key>
			<real>0.55</real>
			<key>name</key>
			<string>Go Left</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.11</real>
			<key>colorGreen</key>
			<integer>0</integer>
			<key>colorRed</key>
			<real>0.98</real>
			<key>name</key>
			<string>Six</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.5600000000000001</real>
			<key>colorGreen</key>
			<real>0.16</real>
			<key>colorRed</key>
			<real>0.13</real>
			<key>name</key>
			<string>Five</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.9</real>
			<key>colorGreen</key>
			<real>0.63</real>
			<key>colorRed</key>
			<real>0.08</real>
			<key>name</key>
			<string>Four</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.34</real>
			<key>colorGreen</key>
			<real>0.78</real>
			<key>colorRed</key>
			<real>0.04</real>
			<key>name</key>
			<string>Three</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.11</real>
			<key>colorGreen</key>
			<real>0.99</real>
			<key>colorRed</key>
			<real>1</real>
			<key>name</key>
			<string>Two</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>checked</key>
			<true/>
			<key>colorBlue</key>
			<real>0.11</real>
			<key>colorGreen</key>
			<real>0.49</real>
			<key>colorRed</key>
			<real>0.98</real>
			<key>name</key>
			<string>One</string>
			<key>possibility</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
